@import "tailwindcss";

@font-face {
    font-family: 'Grenda';
    src: url('/grenda.otf') format('opentype');
}

@font-face {
    font-family: 'Barlow';
    src: url('/Barlow-Regular.ttf') format('truetype');
}

body{
    overflow-x: hidden;
    font-family: 'Grenda', sans-serif;
    background-color:"#FBF0DA";
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Grenda', sans-serif;
}
p{
    font-family: 'Barlow', sans-serif;
}


